*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: black;
}
.container-card1{
	display: flex;
	flex-wrap: nowrap;

}
.card1{
	display: inline-block;
	margin: 10px;
	margin-left: 20px;
	background-image: url('./img/capa.jpg');
	width: 140px;
	background-size: cover;
	height: 200px;
}
.card1{

}
.container-card2{
	display: flex;

}
.card2{
	margin: 10px;
	margin-left: 20px;
	background-image: url('./img/download.jpeg');
	width: 140px;
	background-size: cover;
	height: 200px;
}
.card{
	margin: 10px;
	margin-left: 20px;
	background-image: url('./img/d.jpeg');
	width: 140px;
	background-size: cover;
	height: 200px;
}
h1{
	font-weight: 950;
	font-size: 20px;
	margin-left: 20px;
	color: white;
}
img{
	position: relative;
	left:1%;
} 
